* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --gauge-line: #303238;
    --gauge-color: #daa520;
    --guage-container: #1d1e22;
    --color: #FFF;
    --gauge-inner: #1d1e22;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    display: grid;
    place-items: center;
}

#guages-container {
    width: 85%;
    min-height: 20rem;
    background: var(--guage-container);
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 rgba(256, 256, 256, 1);
    display: flex;
}

.guage {
    padding: 1rem;
    margin: 2rem;
    display: grid;
    place-items: center;
    flex-grow: 1;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: var(--gauge-line);
    box-shadow: 0 0 10px 2px var(--gauge-line);
    position: relative;
}

.guage-inner {
    width: 100%;
    height: 100%;
    z-index: 1;
    border-radius: 50%;
    background: var(--gauge-inner);
    box-shadow: 0 0 10px 4px var(--gauge-inner);
    color: var(--color);
    display: grid;
    place-items: center;
    font-size: 2rem;
    position: relative;
}

.guage-color {
    position: absolute;
    width: 105%;
    height: 105%;
    border-radius: 50%;
    filter: brightness(150%) opacity(0.7);
    transform: rotate(180deg);
}

.guage-animation {
    position: absolute;
    width: 95%;
    height: 95%;
    z-index: -1;
    border-radius: 50%;
    border: 1px solid var(--color);
    clip-path: inset(0 2rem);
    animation: animation infinite linear;
    transition: 0.3s;
}

@keyframes animation {
    from { transform: rotate(0) }
    to { transform: rotate(360deg) }
}

