* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-gradient: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    --weather-background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    --text-and-icons-color: rgb(70, 70, 70);
    --sun-color: rgb(255, 123, 0);
    --termometer: linear-gradient(to bottom, rgb(197, 39, 0), rgb(0, 51, 218));
    --separation: linear-gradient(to bottom, transparent, rgb(70, 70, 70), transparent);
}

body {
    width: 100vw;
    height: 100vh;
    background: var(--main-gradient);
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    display: grid;
    place-items: center;
    color: var(--text-and-icons-color);
}

#weather {
    width: 100%;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    background: var(--weather-background);
    height: 20.8rem;
}

#today,
#week {
    height: 100%;
    padding: 1rem;
    border-radius: 1rem;
}

#today {
    min-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#today > i {
    font-size: 3rem;
    color: var(--sun-color);
    animation: sun 5s infinite alternate-reverse ease-in-out;
}

@keyframes sun {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

#temp {
    margin-top: 0.5rem;
    font-size: 3rem;
}

#description {
    font-size: 1.5rem;
}

#infos {
    width: 100%;
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 2rem;
    height: 6rem;
}

#next,
#previous {
    font-size: 1.5rem;
    padding: 0.2rem 0.6rem;
    background: transparent;
    border: 1px solid var(--text-and-icons-color);
    color: var(--text-and-icons-color);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    height: 2.5rem;
    margin: auto 0;
}

#next:hover,
#previous:hover {
    background: rgba(255, 255, 255, 0.178);
}

#next {
    margin-left: auto;
}

#previous {
    margin-right: auto;
}

#infos > div {
    position: absolute;
    transform: scale(0);
    filter: opacity(0);
    transition: all 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#infos .show {
    transform: unset;
    filter: unset;
}

#infos > div > i {
    font-size: 2rem;
    margin-bottom: 0.3rem;
}

#infos > div > strong,
#infos > div > p {
    font-size: 1.2rem;
}

#week {
    flex-grow: 1;
    height: 100%;
    text-align: center;
    display: flex;
}

.day {
    padding: 0 0.5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.day::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: var(--separation);
}

#week .temperatura {
    flex-grow: 1;
    position: relative;
    display: grid;
    place-items: center;
    padding: 1rem;
    margin-top: 0.5rem;
}

#week .termometer {
    width: 20%;
    max-width: 0.7rem;
    position: absolute;
    background: var(--termometer);
    border-radius: 1rem;
}

#week .temp-max,
#week .temp-min {
    position: absolute;
    transform: translateX(80%);
}

#week .temp-max {
    top: -0.5rem;
}

#week .temp-min {
    bottom: -0.5rem;
}
