* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-gradient: linear-gradient(120deg, #f6d365 0%, #fda085 100%) no-repeat fixed;
    --weather-background: linear-gradient(to bottom, #fdfbfb 0%, #ebedee 100%);
    --color: rgb(70, 70, 70);
    --opposite-color: rgb(245, 245, 245);
    --sun-color: rgb(255, 123, 0);
    --temp-max: rgb(197, 39, 0);
    --temp-min: rgb(0, 51, 218);
    --termometer: linear-gradient(to bottom, var(--temp-max), var(--temp-min));
    --week-scrollbar: linear-gradient(to left, var(--temp-max), var(--temp-min));
    --vertical-separation: linear-gradient(to bottom, transparent, rgb(70, 70, 70), transparent);
    --horizontal-separation: linear-gradient(to right, transparent, rgb(70, 70, 70), transparent);
}

body {
    width: 100vw;
    height: 100vh;
    background: var(--main-gradient);
    font-family: Arial, Helvetica, sans-serif;
}

main {
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    display: grid;
    place-items: center;
    color: var(--color);
}

#weather {
    width: 100%;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 0 0 3.125rem 0 rgba(0, 0, 0, 0.5);
    display: flex;
    background: var(--weather-background);
    height: 22.2rem;
}

#today,
#week {
    height: 100%;
    padding: 1rem;
    border-radius: 1rem;
}

#today {
    min-width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#today > i {
    font-size: 3rem;
    color: var(--sun-color);
    animation: sun 5s infinite alternate-reverse ease-in-out;
}

@keyframes sun {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

#temp {
    margin-top: 0.5rem;
    font-size: 3rem;
}

#description {
    font-size: 1.5rem;
}

#infos {
    width: 100%;
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 2rem;
    height: 7.5rem;
}

#next,
#previous {
    font-size: 2.5vw;
    padding: 2% 5%;
    background: transparent;
    border: 1px solid var(--color);
    color: var(--color);
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin: auto 0;
}

#next:hover,
#previous:hover {
    background: var(--color);
    color: var(--opposite-color);
    border-color: transparent;
}

#next {
    margin-left: auto;
}

#previous {
    margin-right: auto;
}

#infos > div {
    position: absolute;
    transform: scale(0);
    filter: opacity(0);
    transition: all 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#infos .show {
    transform: unset;
    filter: unset;
}

#infos > div > i {
    font-size: 2rem;
    margin-bottom: 0.3rem;
}

#infos > div > strong,
#infos > div > p {
    font-size: 1.3vw;
}

#week {
    flex-grow: 1;
    height: 100%;
    text-align: center;
    display: flex;
}

.day {
    padding: 0.5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}

.day::before,
.day:last-of-type::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background: var(--vertical-separation);
    left: 0;
}

.day:last-of-type::after {
    right: 0;
    left: unset;
}

#week .temperatura {
    flex-grow: 1;
    position: relative;
    display: grid;
    place-items: center;
    padding: 1rem;
    margin-top: 0.5rem;
}

#week .termometer {
    width: 20%;
    max-width: 0.7rem;
    position: absolute;
    background: var(--termometer);
    border-radius: 1rem;
}

#week .temp-max,
#week .temp-min {
    position: absolute;
    transform: translateX(80%);
    font-weight: bold;
}

#week .temp-max {
    top: -0.5rem;
    color: var(--temp-max);
}

#week .temp-min {
    bottom: -0.5rem;
    color: var(--temp-min);
}

#timer {
    position: absolute;
    bottom: -0.5rem;
    cursor: pointer;
    overflow: hidden;
    height: 1.6rem;
    padding: 0 0.5rem;
    width: 12rem;
}

#timer p {
    width: fit-content;
    display: inline-block;
    transform: translateY(-35%);
}

#timer input {
    position: relative;
    width: 3.125rem;
    height: 1.6rem;
    cursor: pointer;
}

#timer input::before,
#timer input::after,
#timer #checked,
#timer #notChecked {
    transition: all 0.3s;
    position: absolute;
    border-radius: 1rem;
}

#timer input::before,
#timer input::after {
    top: 0;
    bottom: 0;
    content: "";
    right: 0;
    left: 0;
}

#timer input::after {
    width: 7.2rem;
    left: 3.5rem;
    display: flex;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

#timer #checked,
#timer #notChecked {
    width: 1.1rem;
    height: 1.1rem;
    padding: 0.3rem;
    background-color: var(--color);
    border-radius: 50%;
}

#timer #checked {
    left: 2.2rem;
}

#timer #notChecked {
    left: 1rem;
    filter: brightness(200%);
}

#timer input:not(:checked)::before {
    background-color: var(--color);
}

#timer input:checked::before {
    background-color: #18b391;
}

#timer input:not(:checked)::after {
    content: "Ativar Timer";
}

#timer input:checked::after {
    content: "Desativar Timer";
}

#timer input:not(:checked) + #checked {
    top: -1.25rem;
}

#timer input:checked ~ #checked {
    top: 0.25rem;
}

#timer input:not(:checked) ~ #notChecked {
    top: 0.25rem;
}

#timer input:checked ~ #notChecked {
    top: -1.25rem;
}

@media screen and (min-width: 1500px) {
    #next,
    #previous {
        font-size: 2rem;
        padding: 0.5rem 1rem;
    }

    #infos > div > strong,
    #infos > div > p {
        font-size: 1.5rem;
    }

    #timer {
        bottom: -1.5rem;
    }
}

@media screen and (max-width: 900px) {
    #today {
        min-width: 40%;
        position: relative;
    }

    #today::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 1px;
        background: var(--vertical-separation);
        right: 0;
    }

    #week {
        overflow-x: scroll;
        overflow-y: hidden;
        padding-left: 0;
    }
    
    #week::-webkit-scrollbar {
        height: 8px;
    }
    
    #week::-webkit-scrollbar-track {
        background: transparent;
    }
    
    #week::-webkit-scrollbar-thumb {
        background: var(--week-scrollbar);
        border-radius: 20px;
    }

    .day {
        min-width: 20%;
    }

    .day:first-of-type::before {
        content: unset;
    }

    #infos > div > strong,
    #infos > div > p {
        font-size: 1rem;
    }

    #next,
    #previous {
        font-size: 1.5rem;
        padding: 0.1rem 0.5rem;
    }
}

@media screen and (max-width: 700px) {
    main {
        padding: 0.5rem;
    }
    
    #weather {
        flex-direction: column;
        height: unset;
        height: 100%;
        min-width: 100%;
        max-width: 100%;
        max-height: 700px;
    }

    #today::after {
        height: 1px;
        width: 100%;
        top: unset;
        bottom: -0.8rem;
        background: var(--horizontal-separation);
    }

    #infos {
        margin-top: 1rem;
    }

    #timer {
        bottom: -1rem;
    }
}

@media screen and (max-width: 700px) {
    .day {
        min-width: 25%;
    }
}
